<div class="row offset-2">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onRegister(f)" #f="ngForm">
      <div class="row">
        <div class="col-xs-6">
          <h2>Registration form</h2>
          <hr>
        </div>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{ errorMessage}}
      </div>
      <div class="form-group">
        <label for="fname">First name</label>
        <input type="text" id="fname" name="fname" class="form-control" ngModel required  #fname="ngModel"/>
      </div>
      <div class="form-group">
        <label for="lname">Last name</label>
        <input type="text" id="lname" name="lname" class="form-control" ngModel required  #lname="ngModel"/>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" ngModel required email #emailField="ngModel"/>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password"  class="form-control" ngModel required minlength="8"
               #passwordField="ngModel"/>
      </div>
      <div *ngIf="f.invalid && f.touched">
        <div *ngIf="emailField.invalid && emailField.touched" class="alert alert-danger" role="alert">A valid email is
          required
        </div>
        <div *ngIf="fname.invalid && fname.touched" class="alert alert-danger" role="alert">first name is
          required
        </div>
        <div *ngIf="lname.invalid && lname.touched" class="alert alert-danger" role="alert">last name is
          required
        </div>
        <div *ngIf="passwordField.invalid && passwordField.touched" class="alert alert-danger" role="alert">Password is
          required and must contain at least 8
        </div>
      </div>
      <div class="row" >
        <div class="col-md-3">
          <button class="btn btn-primary btn-group-sm btn-block" type="submit" [disabled]="f.invalid"><i
            class="glyphicon glyphicon-user pull-left"></i>Sign up
          </button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-danger btn-group-sm btn-block" type="button" (click)="clearForm(f)"><i
            class="glyphicon glyphicon-erase pull-left"></i>Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
